/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.container {
  padding-bottom: 4.5rem;
}

.ngx-pagination {
    text-align: end;
}

  .ngx-pagination .current {
    background: #007bff !important;
  }

  .ngx-pagination li, .ngx-pagination a {
    border-radius: 0.25em !important;
  }
